<!-- your html code here -->
<style>

    .circle-container {
      width: 250px; 
      height: 250px; 
      overflow: hidden;
      border-radius: 50%;
  }
  
  .circle-container img {
      width: 100%; 
      height: auto;
      
  }
  
  .image-wrapper {
     position: relative;
  }
  
  .horizontal-line {
   position: relative;
    margin-left: 5%;
    padding-right: 90%;
  }
  
  .horizontal-line-bottom {
  position: relative;
    margin-left: 5%;
    padding-right: 90%;
  }
  
  
  </style>
  
  
  
  <div class="container-fluid">
    <div class="row">
        <div class="col-4 my-5 d-flex justify-content-end">
            <img src="https://preview.redd.it/ehjqj4vz7nk41.jpg?width=1080&crop=smart&auto=webp&s=ce07bd67acba71a8c126433f002815f0b1af3bef" class="circle-container img-fluid">
          </div>
      <div class="col-8">
        <div class="d-flex p-0 m-0">
        <h1 class="mt-5 ps-0">The Second Heading </h1>
        <h1 class="mt-5 ps-1 ms-1 text-secondary">Is Pretty Cool Too</h1>
        </div>
        <p class="pe-5">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.</p>
      </div>

     
  
  </div>
  <span class="border-bottom horizontal-line-bottom"></span>
  <br>
  <br>
  <br>
  <br>